@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 font-sans;
  }
}

@layer components {
  /* Adicione aqui componentes customizados se necessário */
}

/* Custom QR Scanner Styles */
#reader {
  border: none !important;
}
#reader video {
  object-fit: cover;
  border-radius: 1rem;
}
#reader > div:first-child {
  display: none; /* Hide top bar of the library if possible or style it */
}
#reader__dashboard_section_csr span {
  display: none;
}
#reader__dashboard_section_swaplink {
  display: none !important;
}